# Server Execution Port
PORT=5000

# Database Configuration (PostgreSQL connection URI)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/expenseiq?schema=public"

# Session Security (symmetric signing key for JWT authorization)
JWT_SECRET="your_jwt_signing_secret_key_minimum_32_characters"
